# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environments
venv/
env/
.venv/

# IDE / editor configs
.vscode/
.idea/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Misc
*.zip
*.tar
*.gz
